<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- action 속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form action="/member/save" method="post">
    <div>
        <label for="memberEmail">이메일</label>
        <input type="text" name="memberEmail" id="memberEmail">
    </div>
    <div>
        <label for="memberPassword">비밀번호</label>
        <input type="password" name="memberPassword" id="memberPassword">
    </div>
    <button type="submit">가입하기</button>
</form>
</body>
</html>